@page "/debt"
@using MauiApp1.Models;
@inject DebtService DebtService
@inject UserService UserService

<div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <InputText @bind-Value="Username" class="form-control" />
</div>

<div class="mb-3">
    <label for="registerDebtSource" class="form-label">Debt Source</label>
    <InputText @bind-Value="RegisterDebtSource" class="form-control" />
</div>

<div class="mb-3">
    <label for="registerDebtAmount" class="form-label">Debt Amount</label>
    <InputNumber @bind-Value="RegisterDebtAmount" class="form-control" />
</div>

<div class="mb-3">
    <label for="registerDebtDueDate" class="form-label">Due Date</label>
    <InputDate @bind-Value="RegisterDebtDueDate" class="form-control" placeholder="YYYY-MM-DD" />
</div>
@if (!string.IsNullOrEmpty(Message))
{
    <p class="alert alert-info">@Message</p>
}
<button type="submit" @onclick="CreateDebt" class="btn btn-primary">Submit</button>



@code {
    private decimal RegisterDebtAmount { get; set; }
    private string RegisterDebtSource { get; set; } = string.Empty;
    private DateOnly RegisterDebtDueDate { get; set; } = DateOnly.FromDateTime(DateTime.Now);
    private int RegisterDebtUserId { get; set; }
    private List<Debts> debts = new();
    private string Username { get; set; } = string.Empty;
    private string? Message{ get; set; }

    protected override void OnInitialized()
    {
        debts = DebtService.LoadDebts();
    }
    public void CreateDebt()
    {
        int uid = UserService.GetId(Username);


        var debt = new Debts
            {
                Source = RegisterDebtSource,
                Amount = RegisterDebtAmount,
                DueDate = RegisterDebtDueDate,
                UserId = uid,
                IsCleared = false,
                ClearedByTransactionId = 0
            };
        debt.DebtId = debts.Count > 0 ? debts.Max(d => d.DebtId) + 1 : 1;
        debts.Add(debt);
        DebtService.SaveDebts(debts);
        Message = "debit added to your pending debit list";
    }


}
